@use 'base/variables' as v;


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
.swiper-button-next, 
.swiper-button-prev{
    color: v.$blanco;
}
.swiper-pagination-bullet{
    background-color: v.$blanco;
    opacity: .5;
}
.swiper-pagination-bullet-active{
    background-color: v.$primario;
    opacity: 1;
}